body {
    font-family: sans-serif;
    background: white;
    font-size: 12px;
}
   
    .article img{
      max-height: 300px;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    overflow: auto;
}

.menu {
    width: 300px;
    float: left;
}

.menu>ul {
    padding: 0;
}

.menu>ul>li {
    list-style-type: none;
}

.menu>ul>li>a {
    display: block;
    padding: 20px;
    margin: 3px;
    text-align: center;
    color: #000;
    font-size: 14px;
}



.content {
    padding: 100px;
    margin-right: inherit;
}