       body {
    font-family: sans-serif;
    background: #D1EEEE;
    font-size: 12px;
 
   
}
   
.box{
    width: 950px;
    height: 3000px;
    background:white;              
   
}


.article{
    text-align:center; 
    padding-left: 3px;
 font-size:14px;
    
    
    
}
    .article img{
      max-height: 750px;
        display:block;
        padding-top: 25px;
        padding-left: 100px;
           
}

.header>h1{
    padding-left: 320px;
    font-weight: 900;
}
.wrapper {
    width: 960px;
    margin: 0 auto;
    overflow: auto;
}


.menu {
    width: 960px;
    height: auto;
}

.menu>ul {
    padding: 0;
    
}

.menu>ul>li {
    list-style-type: none;
    float: left;
   border: 3px solid #48D1CC; 
    margin: 10px;
    padding:15px;
    border-style: solid;
    border-width: 5px 3px 5px 3px;
    border-radius:15px;
}
.menu>ul>li:hover{
    height: 50px;
    background-color:#A2B5CD;
   background-image:linear-gradient(45deg, #EE9572 0%, #EECFA1 100%);
    
}

.menu>ul>li>a {
    display: block;
    padding: 20px;
    margin: 3px;
    text-align: center;
    color: #000;
    font-size: 14px;
    
    
}

.picture-size{
    max-width:98%;
     padding-top: 25px;
}

.pict {
    background: transparent url("bb-edit.png") no-repeat center;
    background-size: cover;
    height: 100px;
    width: 960px;
}
.bigbang-Video{
    width:350px;
    height:400px; 
   
}
.text/css h2 {
    font-family:Georgia;
}

               
.content {
    padding: 100px;
    margin-right: inherit;
    padding-top: 150px;
}